* {
  margin: 0;
  padding: 0;
  user-select:none;
}

/* 1 */
.intro {
  background-color: #313a5f;
  color: white;
  margin: 0 auto;
  height: 751px;
}

.intro__content{
  margin: 0 auto ;
  display: inline-flex;
}

.menu {
  padding-top: 46px;
  margin-left: 110px;
  display: flex;
  list-style: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.menu__item {
  margin-left: 25px;
  cursor: pointer;
}
h1 {
  font-size: 74px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: left;
  width: 455px;
  height: 182px;
}
.header__text {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0px;
  width: 440px;
  height: 132px;
  margin-top: 55px;
}
.intro__text {
  margin-top: 95px;
  margin-left: 120px;
  display: flex;
}
.img_man {
  margin-left: 200px;
}


/* 2 */
  .portfolio {
    margin: 0 auto;
    height: 900px;
    background-color: rgb(244, 244, 232);
  }
  
  .portfolio__block {
    margin: 0 auto;
    padding-top: 100px;
    width: 1366px;
    height: 751px;
    display: flex;
  }
  
  .portfolio__text{
    margin-left: 120px;
  }

  h2 {
    font-size: 74px;
    font-weight: 500;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    width: 412px;
    height: 90px;
  }

  .sub_header {
    margin-top: 50px;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    width: 570px;
    height: 78px;
  }
  
  .img_interier{
    margin-top: 80px;
    width: 570px;
    height: 414px;
  }

  .frame{
    margin-top: 170px;
    margin-left: 100px;
  }

  .arrow_block{
    margin-left: 290px;
    width: 142.34px;
    height: 59px;
  }
  
  .arrow {
    cursor: pointer;
    display: inline-flex;
  }
  
  .info {
    margin-top: 80px;
    list-style: none;
    font-size: 24px;
  }
  
  .info__text {
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    padding-right: 50px;
    text-align: left;
    border-bottom: solid 2px black;
  }
  
  .info__rectangle {
    width: 475px;
    height: 2px;
    background: #000;
  }
  
  .btn {
    margin-top: 45px;
    color: white;
    background-color: #313a5f;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
  }
  
  .img_interier {
    width: 381px;
    height: 381px;
  }


/* 3 */
.about_me {
  padding-top: 60px;
  color: white;
  height: 745px;
  display: flex;
  margin: 0 auto;
  background-color: #313a5f;
}

.about_me__content {
  margin: 0 auto ;
  display: inline-flex;
}

h3 {
  margin-left: 120px;
  font-size: 74px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: 0em;
  text-align: left;
  width: 308.46px;
  height: 90px;
}

.about_me__text {
  margin-left: 120px;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  margin-top: 100px;
  width: 515px;
  height: 352px;
  line-height: 55px;
}

.about_me__img {
  margin-top: 80px;
  margin-left: 150px;
}