body{
    margin: 0
}

#parent-block-1{
    background: #313A5F;
    position: relative;
    width: 1366px;
    height: 751px;
    flex-shrink: 0;
    left: 50%;
    transform: translate(-50%);
}

#menu{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    top: 46px;
    left: 123px;
}

.menu-item{
    cursor: pointer;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#info-text{
    width: 455px;
    height: 354px;
    flex-shrink: 0;
    position: absolute;
    top: 170px;
    left: 123px;
}

#header{
    width: 455px;
    height: 182px;
    flex-shrink: 0;
}

#header-title{
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#content{
    width: 440px;
}

#content-text{
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.295%;
}

#image1{
    width: 475px;
    height: 376px;
    flex-shrink: 0;
    position: absolute;
    top: 170px;
    left: 770px;
}



#parent-block-2{
    position: relative;
    display: flex;
    width: 1366px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    left: 50%;
    transform: translate(-50%)
}

#portfolio{
    width: 1120px;
    height: 771px;
    margin-top: 150px;
}

#portfolio-header{
    color: #000;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 123px;
}

#sub-header{
    position: absolute;
    width: 570px;
    margin-top: 100px;
    margin-left: 123px;
}

#sub-header-title{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#arrow-block{
    margin-top: 190px;
    margin-left: 977px;
    width: 142.337px;
    height: 59px;
    flex-shrink: 0;
    position: absolute;
}

.arrow{
    width: 59.16px;
    height: 59px;
    flex-shrink: 0;
    display: inline-block;
    cursor: pointer;
}

#info-block{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 82px;
    margin-top: 357px;
    margin-left: 645px;
}

.info-string{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
}

.info-line{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-text{
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
}

.info-rectangle{
    width: 475px;
    height: 2px;
    background-color: #313A5F;
}

#btn{
    cursor: pointer;
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 44px;
    background: #313A5F;
}

#btn-text{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#image2{
    position: absolute;
    width: 570px;
    height: 414px;
    flex-shrink: 0;
    margin-top: 357px;
    margin-right: 550px;
}